extends layout 

block content 
  h1.p-3 Delete product: #{product.name}

  .p-3
    p #[strong Description: ]#{product.description}

    p #[strong Do you really want to delete this category?]
      form(action="", method="post") 
        .form-group 
          input#productId.form-control(type="hidden", name="productId", required="true", value=product._id)
        button.btn.btn-primary(type="submit") Delete