extends layout 

block content 
  h1.p-3= title

  .p-3.border.bg-light
    ul
      each product in product_list 
        li 
          a(href=product.url) #{product.name}

      else 
        p There are no products.
